.footer,
.nav-link,
.navbar,
.navbar-brand,
footer,
h1,
h2,
li,
li a,
main {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-size: 60;
  color: #821919;
}
h2 {
  font-size: 50;
  color: #821919;
}
.footer,
.nav-link,
.navbar,
footer,
li,
li a {
  background-color: #c2bb7c;
  color: #821919;
}
.navbar-brand {
  color: #821919;
  font-size: xx-large;
}
.btn {
  background-color: rgba(141, 104, 104, 0.3);
  color: #d8d3d0;
}
.navbar .button {
  background-color: rgba(255, 255, 255, 0.7);
  color: #821919;
}
li,
li a {
  list-style: none;
}
.demo-box {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}
.color-btn {
  margin-bottom: 15px;
  border: none;
  padding: 10px;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-size: 18px;
}
