      h1 {
        font-size: 60;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #821919;
      }
      .navbar,
      .nav-link,
      .footer,
      footer,
      li,
      li a {
        background-color: #c2bb7c;
        color: #821919;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      .navbar-brand {
        color: #821919;
        font-size: xx-large;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
      .navbar .button {
        background-color: rgba(255, 255, 255, 0.7);
        color: #821919;
      }
      img {
        max-width: 100%;
        display: flex;
        opacity: 60%;
      }
      header {
        z-index: 1000;
      }
      #about {
        text-align: center;
      }
      li,
      li a {
        list-style: none;
      }